@import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Exo", sans-serif;
    @apply bg-black;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-gray-900;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gradient-to-b from-purple-600 to-pink-600 rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply from-purple-500 to-pink-500;
  }
}

@layer components {
  .gradient-text {
    @apply bg-gradient-to-r from-purple-500 to-pink-500 bg-clip-text text-transparent;
  }

  .gradient-border {
    @apply border border-transparent bg-gradient-to-r from-purple-500 to-pink-500;
  }
}

@layer utilities {
  @keyframes pulse-slow {
    0%,
    100% {
      opacity: 0.2;
    }
    50% {
      opacity: 0.3;
    }
  }

  .animate-pulse-slow {
    animation: pulse-slow 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  .delay-1000 {
    animation-delay: 1s;
  }
}
